version: '2'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    env_file:
      - ./.env.dev
    volumes:
      - taskleaf_sync_volume:/app
    volumes_from:
      - data
    ports:
      - 3000:3000
    depends_on:
      - db
    tty: true
    stdin_open: true
  db:
    image: mysql:5.6
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes_from:
      - data
    ports:
      - 3307:3306
  data:
    image: busybox
    volumes:
      - db:/var/lib/mysql
      - bundle:/usr/local/bundle

volumes:
  db:
    driver: local
  bundle:
    driver: local
  taskleaf_sync_volume:
    external: true
